.container {
  margin-top: 5%;
}

.info {
  position: relative;
  margin-left: 30%;
  border: thin solid #DED9D9;
  width: 40%;
  text-align: left;
  background-color: white;
}

.input-box {
  border: thin solid #DED9D9;
}

.input-box input {
  width: 100%;
  font-size: 20px;
  outline: none;
}

.list-box {
  border: thin solid #DED9D9;
  padding-top: 7px;
}

.list-box li {
  margin-left: -25px;
}

.list-box a {
  float: right;
  margin-right: 15px;
  margin-top: 5px;
  text-decoration: none !important;
  color: #B34242 !important;
}

.list-box label {
 font-size: 18px;
 margin-left: 10px;
}

.list-box input {
  font-size: 20px;
  outline: none;
}

.list-box input:checked + label {
  text-decoration: line-through;
}

.items-left {
  border: thin solid #DED9D9;
  padding-left: 15px;
  padding-top: 5px;
}

.filter-list {
  border: thin solid #DED9D9;
  text-align: left;
}

.filter-list li {
  display: inline;
  padding: 5px;
}

.filter-list label {
  border-radius: 5px;
  color: #B34242 !important;
  background-color: #F5F5F5 !important;
  padding: 5px 10px;
  margin-top: 10px;
  outline: none;
}
.filter-list input[type="radio"] {
    display:none;
}

.filter-list input[type="radio"]:checked + label {
  border: thin solid #B34242 !important;
}

.filter-list label#clear {
  color: #535454 !important;
}

ul {
    list-style-type: none;
}

h1 {
  color: #B34242 !important;
  text-align: center !important;
}
