<!doctype html>
<html lang="en" ng-app="ToDo">
  <head>
    <meta charset='utf-8'>
    <title>To Do</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src='js/app.js'></script>
    <script src='js/toDoController.js'></script>
  </head>

  <body ng-controller="ToDoCtrl">
    <div class="container">
      <h1>To Do</h1>
      <div class="info">
        <div class="input-box">
          <form>
            <input type="text" placeholder="What needs to be done?"
                   ng-model="ToDoCtrl.task" ng-change="ToDoCtrl.addTask()" />
            <button ng-click="ToDoCtrl.addTask()">Add</button>
          </form>
        </div>
        <div class="list-box">
          <ul ng-repeat="task in ToDoCtrl.toDoList">
            <li>
              <input type="checkbox" />
              <label>{{task}}</label>
              <a href="#">&#10006;</a>
            </li>
          </ul>
        </div>
        <div class="items-left">
          <p> items left</p>
        </div>
        <div class="filter-list">
          <ul>
            <li><button><b>All</b></button></li>
            <li><button>Active</button></li>
            <li><button>Complete</button></li>
            <li><button hidden>Clear completed</button></li>
          </ul>
        </div>
     </div>
    </div>
  </body>
</html>
